<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .alert {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1000;
      display: none;
      padding: 1rem;
      border-radius: 0.5rem;
      animation: fadeOut 4s forwards;
    }
    .alert.success {
      background-color: #4caf50;
      color: #fff;
    }
    .alert.error {
      background-color: #f44336;
      color: #fff;
    }
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(-20px);
      }
    }
</style>
</head>
<body>
     <main class="p-4 bg-gray-100 dark:bg-gray-800 h-full min-h-screen ">
        <div class="flex justify-between">
            <button  onclick="showPopUp()" class=" btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >
                Upload file
            </button>
              <form action="/api/logout" method="post">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-700"> 
                    Logout
                 </button>
              </form>
        </div>

         <div class="pop hidden backdrop-blur rounded-lg fixed top-0 left-0 h-screen w-screen flex items-center justify-center">
          
            <form id="uploadForm" class="flex flex-col gap-4 item-center " enctype="multipart/form-data">
                    
                <div class="flex items-center justify-center w-96">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" name="file"  />
                    </label>
                </div> 
                <button class=" self-start btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >
                    Upload file
                </button>
            </form>
              
                <button onclick="hidePopUp()"class="absolute top-4 right-4 text-gray-500 dark:text-gray-400 text-2xl">                  
                    <i class="ri-close-line"></i>
                </button>
         </div>


         <div class=" files flex flex-col gap-2 item-center mt-2">
                       <% if (files && files.length > 0) { %>
                        <% files.forEach((file)=>{ %>
                            <div class="p-2 cursor-pointer flex justify-between  rounded-md bg-gray-500 ">
                                <h1 class=" font-bold text-white"><%= file.filename %></h1>
                                  <a
                                   href="<%= file.filepath %>"  target="_blank" class="text-black-500 hover:text-blue-700" >
                                    <i class="ri-download-line"></i>
                                  </a>
                            </div>
                            <% }) %>
                       <% } else { %>
                             <div class="p-2 cursor-pointer flex justify-between  rounded-md bg-gray-500 ">
                                     <h1 class=" font-bold text-white">No files uploaded yet</h1>
                                     <p>Click on the "Upload file" button to upload your files.</p>
                                     <p>PNG, JPG or GIF </p>
                             </div>

                        <% } %>
                        
                   
         </div>  
                 <div id="alert"  class="alert"></div>
                 <div id="loading" class=" fixed z-50 backdrop-blur h-screen w-screen hidden top-0 left-0 flex justify-center items-center  ">
                    <button disabled type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                      <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                      </svg>
                      Loading...
                      </button>
                 </div>
     </main>
     <script>

            function showPopUp(){
                document.querySelector('.pop').style.display = "flex"
            }   
            function hidePopUp(){
                document.querySelector('.pop').style.display = "none"
            }   
            function showAlert(message, type) {
                const alertBox = document.getElementById('alert');
                alertBox.textContent = message;
                alertBox.className = `alert ${type}`;
                alertBox.style.display = 'block';
                setTimeout(() => {
                    alertBox.style.display = 'none';
                }, 4000);
           }
           const form = document.getElementById('uploadForm');
           const loading = document.getElementById('loading');
           
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      loading.style.display = 'flex'; // Show loading spinner
      const response = await fetch('/upload-file', {
        method: 'POST',
        body: formData,
      });
      const result = await response.json();
      loading.style.display = 'none'; // Show loading spinner

      if (result.success) {
        showAlert(result.message, 'success');
        setTimeout(() => location.reload(), 1000); // Reload page after success
      } else {
        showAlert(result.message, 'error');
      }
    });

     </script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>




